html,
body {
    margin: 0;
    padding: 0;
}

.video-slider * {
    box-sizing: border-box;
}

.video-slider input:focus,
.video-slider button:focus {
    outline: none;
}

.video-slider__list {
    position: relative;
    font-size: 16px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 700px;
    overflow: hidden;
}

@media only screen and (max-width: 1024px) {
    .video-slider__list {
        font-size: 12px;
    }
}

@media only screen and (max-width: 768px) {
    .video-slider__list {
        height: 468px;
        font-size: 10px;
    }
}

.video-slider__item {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    pointer-events: none;
    transform: translateY(700px);
    transition: transform 0s ease .4s;
    z-index: 0;
}

.video-slider__item._active {
    transform: translateY(0);
    z-index: 1;
    pointer-events: auto;
    transition: transform .4s ease;
}

.video-slider__item._content-hidden .video-slider__item-content {
    opacity: 0;
    pointer-events: none;
}

.video-slider__item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    transition: opacity .4s ease;
}

.video-slider__item-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.video-slider__item-video-wrapper {
    pointer-events: none;
}

.video-slider__item-video-btn {
    position: absolute;
    /* half + (videoWidth / 2) - half width of button - margin */
    left: calc(50% + ((700px * 16 / 9) / 2) - 21px - 10px);
    top: 10px;
    transform: translateX(-50%);
    width: 42px;
    height: 42px;
    background-color: rgba(255, 255, 2555, 0);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    z-index: -1;
}

/* 16 / 9 * 700 = 1244 */
@media only screen and (max-width: 1244px) {
    .video-slider__item-video-btn {
        left: auto;
        right: 10px;
        transform: none;
    }
}

.video-slider__item-video-btn:hover {
    background-color: rgba(255, 255, 2555, .5);
}

.video-slider__item-video-btn:after,
.video-slider__item-video-btn:before {
    position: absolute;
    display: block;
    content: '';
    width: 1px;
    height: 20px;
    left: 50%;
    top: 50%;
    background-color: #fff;
    transform-origin: top;
}

.video-slider__item-video-btn:before {
    transform: rotate(-45deg) translate(-50%, -50%);
}

.video-slider__item-video-btn:after {
    transform: rotate(45deg) translate(-50%, -50%);
}

.video-slider__item-video {
    position: absolute;
    height: 100%;
    z-index: -1;
}

.video-slider__item-img img {
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}

.video-slider__item-title {
    position: relative;
    font-size: 2.5em;
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
    letter-spacing: .02em;
    color: #fff;
    font-style: italic;
    font-weight: 300;
    max-width: 850px;
    padding: 0 20px;
}

.video-slider__item-author {
    position: relative;
    font-size: .875em;
    margin-top: 3.14286em;
    font-family: brandon-grotesque, sans-serif;
    text-transform: uppercase;
    color: #939da5;
    letter-spacing: .15em;
    font-weight: 500;
}

.video-slider__item-btn {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    margin-top: 3.625em; 
    cursor: pointer;
    transition: opacity .25s ease-in-out;
}

.video-slider__item-btn:hover {
    opacity: .8;
}

.video-slider__item-btn:after {
    position: absolute;
    display: block;
    content: '';
    top: 50%;
    left: calc(50% + 5px);
    transform: translate(-50%, -50%);
    border: 8px solid transparent;
    border-left: 10px solid #999;
}

.video-slider__item-btn:focus {
    outline: none;
}

.video-slider__people {
    position: relative;
    top: -50px; /* half of image height */
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    z-index: 2;
}

.video-slider._video-open .video-slider__people {
    pointer-events: none;
}
.video-slider._video-open .video-slider__item-video-btn {
    z-index: 0;
}

.video-slider._video-open .video-slider__item._active .video-slider__item-video-wrapper {
    pointer-events: auto;
}

.video-slider._video-open .video-slider__person {
    pointer-events: auto;
}

.video-slider._video-open .video-slider__person:nth-child(1) {
    transform: matrix(0.75, 0, 0, 0.75, 30, 45);
    transition: transform .25s ease-in-out 0s;
}
.video-slider._video-open .video-slider__person:nth-child(2) {
    transform: matrix(0.75, 0, 0, 0.75, 0, 45);
    transition: transform .25s ease-in-out .1s;
}
.video-slider._video-open .video-slider__person:nth-child(3) {
    transform: matrix(0.75, 0, 0, 0.75, -30, 45);
    transition: transform .25s ease-in-out .2s;
}

.video-slider__people .video-slider__person:nth-child(1) {
    transition: transform .25s ease-in-out .4s;
}
.video-slider__people .video-slider__person:nth-child(2) {
    transition: transform .25s ease-in-out .3s;
}
.video-slider__people .video-slider__person:nth-child(3) {
    transition: transform .25s ease-in-out .2s;
}

.video-slider__people .video-slider__person:nth-child(1) .video-slider__person-photo {
    background-position: 0 -2245px;
}
.video-slider__people .video-slider__person:nth-child(2) .video-slider__person-photo {
    background-position: 0 -2485px;
}
.video-slider__people .video-slider__person:nth-child(3) .video-slider__person-photo {
    background-image: none;
}

.video-slider__people .video-slider__person:nth-child(1) .video-slider__person-logo { 
    background-position: 0 -2887px;
    height: 21px;
    width: 85px;
}
.video-slider__people .video-slider__person:nth-child(2) .video-slider__person-logo {
    background-position: 0 -2962px;
    height: 19px;
    width: 23px;
}

.video-slider__person {
    cursor: pointer;
    margin: 0 3px;
}

.video-slider__person._active .video-slider__person-photo:before,
.video-slider__person._active .video-slider__person-photo:after {
    opacity: 0;
}

.video-slider__person-photo {
    position: relative;
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    overflow: hidden;
    border-radius: 50%;
    background-image: url('https://www.invisionapp.com/assets/img/sprites/home-sf40e21de30.png');
    background-repeat: no-repeat;
    margin-bottom: 10px;
    transform: scale(.75);
    margin: 0 auto;
}

.video-slider__person-photo img {
    max-width: 100%;
}


@media only screen and (max-width: 768px) {
    .video-slider__person-photo {
        transform: scale(.5);
    }
}

.video-slider__person-photo:hover:before,
.video-slider__person-photo:hover:after {
    opacity: 0;
}

.video-slider__person-photo:not(._plus):before {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    opacity: .3;
    pointer-events: none;
    transition: opacity .3s ease;
}

.video-slider__person-photo:not(._plus):after {
    position: absolute;
    display: block;
    content: '';
    top: 50%;
    left: calc(50% + 5px);
    transform: translate(-50%, -50%);
    border: 8px solid transparent;
    border-left: 10px solid #fff;
    transition: opacity .3s ease;
}

.video-slider__person-logo {
    background-image: url('https://www.invisionapp.com/assets/img/sprites/home-sf40e21de30.png');
    background-repeat: no-repeat;
    margin: 0 auto;
}

.companies-logos {
    font-family: sans-serif;
    font-size: 16px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2.9375em;
    margin-top: 2.9375em;
}

.companies-logos * {
    box-sizing: border-box;
}

.companies-logos__title {
    font-size: .9375em;
    letter-spacing: .075em;
    font-weight: 500;
    color: #939da5;
    text-transform: uppercase;
    margin-bottom: 4.53333em;
}

.companies-logos__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    list-style-type: none;
    padding: 0; 
}

.companies-logos__item {
    width: calc(100% / 6);
    flex-basis: calc(100% / 6);
    max-width: calc(100% / 6);
    min-width: calc(100% / 6);
    padding: 1.875em 0;
    opacity: .8;
}

@media only screen and (max-width: 1024px) {
    .companies-logos__item {
        width: calc(100% / 4);
        flex-basis: calc(100% / 4);
        max-width: calc(100% / 4);
        min-width: calc(100% / 4);
    }
}

@media only screen and (max-width: 768px) {
    .companies-logos__item {
        width: calc(100% / 2);
        flex-basis: calc(100% / 2);
        max-width: calc(100% / 2);
        min-width: calc(100% / 2);
    }
}

.companies-logos__item span {
    display: inline-block;
    vertical-align: middle;
    background-image: url('https://www.invisionapp.com/assets/img/sprites/home-sf40e21de30.png');
    background-repeat: no-repeat;
}

.companies-logos__item:nth-child(1) span {
    height: 29px;
    width: 36px;
    background-position: 0 -891px;
}

.companies-logos__item:nth-child(2) span {
    height: 15px;
    width: 74px;
    background-position: 0 -940px;
}

.companies-logos__item:nth-child(3) span {
    height: 26px;
    width: 99px;
    background-position: 0 -621px;
}

.companies-logos__item:nth-child(4) span {
    height: 50px;
    width: 72px;
    background-position: 0 -667px;
}

.companies-logos__item:nth-child(5) span {
    height: 34px;
    width: 138px;
    background-position: 0 -470px;
}

.companies-logos__item:nth-child(6) span {
    height: 30px;
    width: 103px;
    background-position: 0 -737px;
}

.companies-logos__item:nth-child(7) span {
    height: 29px;
    width: 73px;
    background-position: 0 -572px;
}

.companies-logos__item:nth-child(8) span {
    width: 101px;
    height: 19px;
    background-position: 0 -787px;
}

.companies-logos__item:nth-child(9) span {
    width: 101px;
    height: 31px;
    background-position: 0 -419px;
}

.companies-logos__item:nth-child(10) span {
    height: 33px;
    width: 140px;
    background-position: 0 -975px;
}

.companies-logos__item:nth-child(11) span {
    height: 45px;
    width: 77px;
    background-position: 0 -826px;
}

.companies-logos__item:nth-child(12) span {
    height: 28px;
    width: 71px;
    background-position: 0 -524px;
}